<?xml version='1.0' encoding='utf-8'?>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/test
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1234</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property
			name="javax.persistence.schema-generation.database.action">none</property>

		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.validate">300</property>
		<property name="hibernate.c3p0.unreturnedConnectionTimeout">30</property>
		<property name="hibernate.c3p0.debugUnreturnedConnectionStackTraces">true</property>
	</session-factory>
</hibernate-configuration>